<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerViewActivity"/>
        <activity android:name=".ForgroudActivity" />

        <service
            android:name=".MyForegroundService"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true" />

        <activity android:name=".Open_Lock_Activity" />
        <activity android:name=".Locking_Activity" />
        <activity android:name=".Circle_bottom_Activity" />
        <activity android:name=".Custom_Indecotor_Activity" />
        <activity android:name=".Custom_View_Activity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".QRActivity" />
        <activity android:name=".Pic_selector_Activity" />
        <activity android:name=".ZH_tab_Activity" />
        <activity android:name=".Nagvion_Activity" />
        <activity android:name=".Net_Activity" />
        <activity android:name=".String_Builder_Activity" />
        <activity
            android:name=".GlideActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Dialog_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="user" />
        <activity
            android:name=".DemoMainActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>